:root {
    --lavender_mist: #E9DEFF;
    --deep_void: #0B001A;
    --pure_light: #FFFFFF;
    --royal_night: #1E0044;
    --midnight_pulse: #170034;
    --urban_ash: #56514D;
    --font_family: "Montserrat", sans-serif;
    --third_family: "Georgia", sans-serif;
}