.korba {
  background-image: url("../../images/background.png");
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  padding: 40px;
  margin-bottom: 40px;
}

.korba__content {
  color: var(--deep_void);
  text-align: right;
}

.korba__span {
  font-weight: 400;
  line-height: 100%;
}

.korba__headline {
  font-weight: 500;
  font-size: 50px;
  line-height: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  letter-spacing: -0.02em;
}

.korba__buttons {
  display: flex;
  justify-content: end;
  gap: 8px;
  padding-bottom: 230px;
}

.korba__text {
  font-weight: 400;
  padding-bottom: 32px;
}

.korba__for-button {
  display: flex;
  justify-content: end;
}