.main__iner {
  border-radius: 20px 20px;
  padding: 110px 40px 40px 40px;
  min-height: 598px;
  margin: 0 auto;
  background: var(--royal_night);
  color: var(--lavender_mist);
}

.main__headline {
  max-width: 900px;
}

.main__title {
  font-weight: 500;
  font-size: 100px;
  line-height: 100%;
  letter-spacing: -0.05em;

  span {
    font-family: var(--third_family);
    font-style: italic;
    font-weight: 400;
    background: linear-gradient(90deg, #8338ec 0%, #b923ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.main__text {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: -0.04em;
  margin-top: 24px;
  margin-bottom: 60px;
}

.main__bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}