.header {
  margin: 20px 0;
}

.header__inner {
  border-radius: 20px;
  padding: 20px 36px;
  background-color: var(--royal_night);
  color: var(--lavender_mist);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__list {
  display: flex;
  gap: 24px;
  font-weight: 500;
  line-height: 100%;
}

.header__link {
  text-decoration: none;
  color: var(--lavender_mist);
}

.header__button {

  border-radius: 19px;
  padding: 10px 14px;
  border: 1px solid var(--lavender_mist);
  color: var(--lavender_mist);
  text-decoration: none;
}